<ol>
  <% @recipe.directions.each do |direction| %>
    <li>
      <% unless direction.label_text.empty? %>
        <em><%= direction.label_text %>:</em></br>
      <% end %>
      <%= direction.directions_text %></li>
  <% end %>
</ol>