<h2><%= @recipe.name %></h2>
<h3>Ingredients</h3>
<%= render partial: 'ingredients', locals: {ingredients: @recipe.ingredients} %>
<h3>Directions</h3>
<%= render partial: 'directions' %>
<h3>Notes</h3>
<%= render partial: 'recipe_notes', locals: {notes: @recipe.recipe_notes} %>