<div>
  <% @recipe.directions.each do |direction| %>
      <%# Android ePub eBook reader doesn't display ordered lists correctly, so we have to create our own list view %>
      <div class="dir-number"><%= direction.sort_order + 1 %>.</div>
      <div class="dir-text">
        <% unless direction.label_text.empty? %>
            <em><%= direction.label_text %>:</em></br>
        <% end %>
        <%= direction.directions_text %>
  <% end %>
  </div>
</div>